# Dropbox Access Token for automatic video upload
# Get your token from: https://www.dropbox.com/developers/apps
# Set this environment variable before running the script:
# export DROPBOX_ACCESS_TOKEN="your_token_here"
DROPBOX_ACCESS_TOKEN=
